# --- AMBIENTE VIRTUAL ---
.venv/
venv/
env/
ENV/

# --- VARIÁVEIS DE AMBIENTE E SEGURANÇA ---

.env
token.json
credentials.json
*.pem

# --- DADOS LOCAIS (DATA LAKE LOCAL) ---
# Bloqueia toda a pasta data para não subir arquivos CSV ou JSON pesados mantendo a estrutura da pasta, mas não os arquivos
data/**/*


# --- PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3

# --- IDEs E EDITORES ---
.vscode/
.idea/
*.swp
*.swo

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- LOGS E CACHE ---
*.log
.pytest_cache/
.cache/
.ipynb_checkpoints/